* {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0; 
}

nav {
    background-color: #2d545e;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    color: whitesmoke;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-left {
    width: 55%;
    text-align: right;
}

.nav-right {
    width: 45%;
    display: flex;
    justify-content: right;
}

.nav-right > ul {
    display: flex;
    
}


li > a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.nav-links {
    margin: 10px;
    list-style: none;
    padding: 3px;
}

.nav-links:hover {
    box-shadow: 2px 2px 3px 3px black;
    cursor: pointer;
}

#oval-background {
    width: 98%;
    height: 95%;
    margin: auto auto;
    background-color: rgb(240, 217, 194);
    min-height: 800px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#img {
    max-width: 700px;
    position: relative;
    left: 5%;
    right: 5%;
}

.opening-info > h1 {
    text-align: center;
    padding-top: 10px;
}

.opening-info > p {
    text-align: center;
    margin-top: -15px;
}

figure {
    margin: 0 auto;
    display: block;
    justify-content: center;
}

